@page "/"
@using System.Security.Claims

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-16">
    <MudText Typo="Typo.h3" GutterBottom="true">Home</MudText>
    <MudText Typo="Typo.h5" Class="mb-4 mt-n2">Welcome to the Our Clean Future app!</MudText>
    <MudGrid>
        <MudItem xs="12" sm="6">
            <MudAlert Severity="Severity.Normal">Feedback/Questions? Contact: <MudLink Href="mailto:jon.hodgins@yukon.ca;emma.seward@yukon.ca?subject=Our Clean Future app feedback" Typo="Typo.body2" Color="Color.Inherit"><b>Emma Seward & Jon Hodgins</b></MudLink></MudAlert>
        </MudItem>
        <MudItem xs="12" Class="mt-n3">
            <MudDivider />
            <div class="pl-1 my-2">
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary">
                    We live in a world that’s rapidly changing. Climate change is threatening ecosystems, subsistence harvesting, infrastructure, leisure activities, and many other aspects of our lives.
                </MudText>
            </div>
            <div class="pl-1 my-2">
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary">
                    Yukon’s population is growing, along with our need for reliable, affordable and renewable energy to continue to power our lives, our work and our economy. New economic opportunities are emerging in the sustainable, green economy.
                </MudText>
            </div>
            <div class="pl-1 my-2">
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary">
                    Our Clean Future is our answer to the climate emergency.
                </MudText>
            </div>
            <div class="pl-1 my-2">
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary">
                    The Government of Yukon developed Our Clean Future in partnership with Yukon First Nations, transboundary Indigenous groups and Yukon municipalities over the course of 3 years. During this time, the partner group gathered 4 times to establish a vision and values for Our Clean Future and to prioritize the areas we should focus on over the next 10 years to respond to the climate emergency. As a result of this collaborative process, the strategy reflects multiple perspectives, worldviews and ideas.
                </MudText>
            </div>
        </MudItem>
        @*<MudItem xs="12">
            <MudExpansionPanels>
            <MudExpansionPanel Text="User Claims (debug information)">
            <MudSimpleTable Style="overflow-x: auto;">
            <thead>
            <tr>
            <th>Type</th>
            <th>Value</th>
            </tr>
            </thead>
            <tbody>
            @if (AuthState is not null)
            {
            @foreach (var claim in AuthState.User.Claims)
            {
            <tr>
            <td>@claim.Type</td>
            <td>@claim.Value</td>
            </tr>
            }
            }
            </tbody>
            </MudSimpleTable>
            </MudExpansionPanel>
            </MudExpansionPanels>
            </MudItem>*@
    </MudGrid>

</MudContainer>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; } = null!;
    private AuthenticationState? AuthState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AuthState = await AuthenticationStateTask;
    }
}