@page "/"
@using System.Security.Claims

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-16">
    <MudText Typo="Typo.h3" GutterBottom="true">Home</MudText>
    <MudText Typo="Typo.h5" Class="mb-4">Welcome to the Our Clean Future app!</MudText>
    <MudText Typo="Typo.h6" GutterBottom="true" Class="ml-8 mb-2">
        <MudIcon Class="mb-n2" Icon="@Icons.Material.Filled.Warning" Color="Color.Warning" Size="Size.Large" /> Development Preview <MudIcon Class="mb-n2" Icon="@Icons.Material.Filled.Warning" Color="Color.Warning" Size="Size.Large" />
    </MudText>
    <MudGrid>
        <MudItem xs="12" sm="6">
            <MudAlert Severity="Severity.Normal" Class="mb-4">Feedback/Questions? Contact: <MudLink Href="mailto:jon.hodgins@yukon.ca?subject=OurCleanFuture - " Typo="Typo.body2" Color="Color.Inherit"><b>jon.hodgins@yukon.ca</b></MudLink></MudAlert>
            <MudPaper Elevation="2" Class="pa-4">
                <MudList>
                    <MudListItem Text="Release Notes">
                        <NestedList>
                            <MudListSubheader Class="mb-n4">November 5th, 2021</MudListSubheader>
                            <MudListItem Class="ml-3 mt-n4">- Migrated existing data for Actions and Indicators (excluding entries)</MudListItem>
                            <MudListSubheader Class="mb-n4">November 24th, 2021</MudListSubheader>
                            <MudListItem Class="ml-3 mt-n4">- Migrated all entries data</MudListItem>
                            <MudListItem Class="ml-3 mt-n4">- Added conditional formatting for values based on unit of measurement (e.g. "$50,000.00" or "50,000 Kg")</MudListItem>
                            <MudListItem Class="ml-3 mt-n4">- Added auditing for changes to indicator entries</MudListItem>
                            <MudListItem Class="ml-3 mt-n4">- Added auditing for changes to action external status</MudListItem>
                        </NestedList>
                    </MudListItem>
                </MudList>
            </MudPaper>
        </MudItem>
        <MudItem xs="12">
            <MudText Typo="Typo.h5">Claims</MudText>
            <MudSimpleTable Style="overflow-x: auto;">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var claim in AuthState.User.Claims)
                    {
                        <tr>
                            <td>@claim.Type</td>
                            <td>@claim.Value</td>
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>
        </MudItem>
    </MudGrid>

</MudContainer>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; } = null!;
    private AuthenticationState? AuthState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AuthState = await AuthenticationStateTask;
    }
}